/***********************************/
/* Feuille de styles additionnelle */
/***********************************/

/* Thème */
.panel-primary,
.btn-primary {
	border-color: #25A55F;	
}

.panel-primary .panel-heading,
.btn-primary {
	background-color: #25A55F;
}

.panel-info,
.btn-info { 
	border-color: #A6ED8E;
}

.panel-info .panel-heading,
.btn-info {
	background-color: #A6ED8E;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus {
	background-color: #90D26D;
	border-color: #25A55F;
}

/***********************************/

/* La barre de navigation */
.navbar {
  background-color: #90D26D;
  margin-bottom: 20px;
}

/* Texte de la barre de navigation */
.navbar-inverse .navbar-nav > li > a {
	color: #000000;
}

/* Le foooter */
.footer {
  color: black;
  padding: 20px;
}

/* Couleurs pour les icones*/
.blue{
  color: blue;
  font-size: 25px;
}

.green{
  color:green;
  font-size: 25px;
}

.red{
  color: red;
  font-size: 25px;
}

/* Pour changer la souris pour que les icones apparaisent cliquable */
.mouseIcon:hover{
	cursor: pointer;
}

/* Pour garder seulement la bordure du haut */
.topBorder{
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

/* Pour enlever la bordure */
.noBorder{
	border: 0;
}

/* Pour empêcher le redimensionnement par form-control */
.form-control-inline{
    min-width: 0;
    width: auto;
    display: inline;
}

/* Pour empêcher le composant de prendre toute la largeur */
.autoWidth{
	width: auto;	
}

/* Pour garder le menu de navigation en haut */
.affix{
  top: 60px;/* Hauteur de la barre de navigation + 10px*/
	width: 100%;
}

/* Pour configurer la couleur de fond des tabs */
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #D9EDF7 ;/*Même couleur que les éléments contextuels "info"*/
}